<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/img/favicon.png">

    <title>Buscador</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
			<div class="row">

                 <a class="navbar-brand" href="/"><b>Búsqueda</b></a>
            <a class="navbar-brand" href="/config"><b>Configuración</b></a>

				<div class="col-lg-6">
					<h1>Realiza tu búsqueda</h1>
					<form class="form-inline" role="form" method="post">

					    <input type="text" class="form-control" name="palabra" placeholder="Ingresa la palabra a buscar">


					  <button type="submit" class="btn btn-warning btn-lg">Buscar</button>
					</form>
				</div><!-- /col-lg-6 -->
                <br><br>
			</div><!-- /row -->
            <br><br>
      </div><!-- /container -->
    </div>

    <div>
         <div class="container">
         <br><br><br><br><br><br><br><br><br><br>
			<div class="row">
				<div class="col-lg-6">
                    <h1>Resultados</h1>
                <br><br>
                    {% if listaResultados|length > 0 %}
                         {% for listaResultado in listaResultados %}
                            <ul>

                                    <p><a href="{{ listaResultado}}">{{ listaResultado}}</a>  </p>
                            </ul>


                         {% endfor %}
                    {% endif %}

                    {% if listaResultados|length <= 0 %}

                        <p> No se encontraron resultados </p>
                    {% endif %}
				</div><!-- /col-lg-6 -->
			</div><!-- /row -->
		</div><!-- /container -->
    </div>





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>

